/*******************************
* Reset
*******************************/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-indent: 0;
  list-style-type: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

:root {
  --hue-color: 273;
  --saturation-color: 99%;
  --lightness-color: 52%;
  --text-color: #fcfcfc;
  --color-white: #fcfcfc;
}

body {
  background-color: hsl(var(--hue-color), var(--saturation-color), var(--lightness-color));
  color: var(--text-color);
}

h1,
h2 {
  color: var(--text-color);
  opacity: 1;
}

a {
  color: yellow;
}
a.icon {
  fill: yellow;
  opacity: 0.9;
}

p,
.tag {
  color: var(--text-color);
  opacity: 0.95;
}

hr {
  color: var(--text-color);
  opacity: 0.7;
}

/*******************************
* Breakpoints
*******************************/
/*******************************
* Spacing Scales
*******************************/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*******************************
* General Styles
*******************************/
body {
  min-height: 100vh;
}

.container {
  padding-left: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
  padding-right: clamp(2rem, 0.6667rem + 6.6667vw, 6rem);
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
}

header {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding-top: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
  padding-bottom: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
}
header nav ul li {
  display: inline-block;
  margin-left: clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem);
}

.full-height {
  height: 100vh;
}

.hidden {
  display: none !important;
}

h1:not(:first-child) {
  margin-top: clamp(3rem, 1rem + 10vw, 9rem);
}

h1:not(:last-child) {
  margin-bottom: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
}

h2:not(:last-child) {
  margin-bottom: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
}

p:not(:last-child) {
  margin-bottom: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
}

.tag {
  display: inline-block;
  margin-right: 1em;
}

/*******************************
* Header and navigation
*******************************/
.fixed {
  position: fixed;
  top: 0;
  height: 100vh;
}

#wrap-social {
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem);
  text-align: center;
}

#wrap-social li {
  margin-bottom: 2em;
  text-transform: uppercase;
  writing-mode: vertical-lr; /* Vertical text */
  text-orientation: mixed; /*Rotate text correctly */
  transform: rotateZ(180deg);
}

nav a,
#wrap-social a {
  text-decoration: none !important;
  transition: all 1s ease-in-out;
}
nav a:hover,
#wrap-social a:hover {
  text-decoration: overline !important;
}

/*******************************
* Structure
*******************************/
section {
  width: 100%;
  padding-top: clamp(3rem, 1rem + 10vw, 9rem);
  padding-bottom: clamp(3rem, 1rem + 10vw, 9rem);
}
@media (min-width: 768px) {
  section {
    padding-left: 20%;
  }
}
section#footer {
  padding-bottom: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
}

footer {
  padding-bottom: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
}
@media (min-width: 768px) {
  footer {
    padding-left: 20%;
  }
}

h2:first-child {
  margin-bottom: clamp(2rem, 0.6667rem + 6.6667vw, 6rem);
}

h1 + h2 {
  margin-top: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
}

.flex {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 0.6667rem + 6.6667vw, 6rem);
}
.flex > :not(:last-child) {
  width: 100%;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .flex {
    flex-direction: row;
  }
  .flex > :not(:last-child) {
    width: 10ch;
  }
  .flex > :first-child {
    width: clamp(3rem, 1rem + 10vw, 9rem);
  }
}
.flex:not(:first-child) {
  margin-top: clamp(3rem, 1rem + 10vw, 9rem);
}
.flex:not(:last-child) {
  margin-bottom: clamp(3rem, 1rem + 10vw, 9rem);
}

hr {
  height: 1px;
  position: relative;
  top: 0.8rem;
}

/* footer icons */
footer a {
  margin-right: 1.5rem;
}

/*******************************
* Selected Works
*******************************/
.works .work *,
.works .experiment *,
.experiments .work *,
.experiments .experiment * {
  transition: all 0.3s ease-in-out;
}
.works .work .item,
.works .experiment .item,
.experiments .work .item,
.experiments .experiment .item {
  transition: all 1s ease-in-out;
  padding: clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem) 0;
  display: block;
  position: relative;
  z-index: 1;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  margin-top: -1px;
  display: flex;
  align-items: flex-start;
}
.works .work .item .overlay,
.works .experiment .item .overlay,
.experiments .work .item .overlay,
.experiments .experiment .item .overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-color);
  mix-blend-mode: difference;
  transform-origin: 100% 0%;
  transform: scaleY(0);
  pointer-events: none;
}
.works .work .item details,
.works .experiment .item details,
.experiments .work .item details,
.experiments .experiment .item details {
  margin: 0 clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem);
}
.works .work .item details summary,
.works .experiment .item details summary,
.experiments .work .item details summary,
.experiments .experiment .item details summary {
  margin: clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem) 0;
  margin-left: calc(clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem) * -1);
}
.works .work .item:hover .overlay,
.works .experiment .item:hover .overlay,
.experiments .work .item:hover .overlay,
.experiments .experiment .item:hover .overlay {
  transform: scaleY(1);
}
.works .work .item:hover summary,
.works .experiment .item:hover summary,
.experiments .work .item:hover summary,
.experiments .experiment .item:hover summary {
  transform: translateX(clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem)) !important;
}
.works .work img,
.works .experiment img,
.experiments .work img,
.experiments .experiment img {
  width: clamp(3rem, 1rem + 10vw, 9rem);
  height: calc(clamp(3rem, 1rem + 10vw, 9rem) / 3 * 2);
  margin-right: clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem);
  object-fit: cover;
  object-position: top;
  border-radius: 0.3rem;
}
.works .work a,
.works .experiment a,
.experiments .work a,
.experiments .experiment a {
  line-height: 1;
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem);
}
.works .experiment img,
.experiments .experiment img {
  width: clamp(2rem, 0.6667rem + 6.6667vw, 6rem);
  height: clamp(2rem, 0.6667rem + 6.6667vw, 6rem);
}

details {
  width: 100%;
  z-index: 2;
}
details summary {
  width: 100%;
  position: relative;
  list-style: none;
}
details summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  animation: fade-in 0.6s ease-in-out;
}

/*******************************
* Cursor
*******************************/
a,
details {
  cursor: pointer;
}

@font-face {
  font-family: "Metropolis";
  font-style: bolder;
  font-weight: 900;
  src: url(../src/fonts/Metropolis-Black.otf) format("otf");
}
@font-face {
  font-family: "Metropolis";
  font-style: bold;
  font-weight: 700;
  src: url(../src/fonts/Metropolis-Bold.otf) format("otf");
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  src: url(../src/fonts/Metropolis-Regular.otf) format("otf");
}
body {
  font-family: "Metropolis", "Helvetica", sans-serif;
  line-height: 1.7;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

#brand {
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.03em;
}

h1 {
  font-size: clamp(2.5rem, 1.3333rem + 5.8333vw, 6rem);
  line-height: 1.1;
  letter-spacing: -0.03em;
  font-style: bold;
}

h2,
summary {
  font-family: "Inter Tight", sans-serif;
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2rem);
  line-height: 1.4;
  font-weight: 300;
  text-wrap: balance;
}

summary {
  text-transform: capitalize;
}

h3 {
  font-size: clamp(1rem, 0.9167rem + 0.4167vw, 1.25rem);
  line-height: inherit;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem); /* 16px-18px */
  line-height: 1.8;
  text-wrap: balance;
  max-width: 80ch;
}

ul {
  font-size: 1rem;
  line-height: 1.6;
}

small {
  font-size: 0.8rem;
}

.tag {
  font-family: "Inter Tight", sans-serif;
  font-size: clamp(0.75rem, 0.6667rem + 0.4167vw, 1rem);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

a:not(.icon) {
  text-decoration: underline;
}

summary > em {
  font-weight: 100;
  font-size: 70%;
  font-style: normal;
}

#colorshift p {
  font-family: "Inter Tight", sans-serif;
  text-transform: uppercase;
}

/*******************************
* Breakpoints
*******************************/
/*******************************
* Spacing Scales
*******************************/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:root {
  --hue-color: 273;
  --saturation-color: 99%;
  --lightness-color: 52%;
  --text-color: #fcfcfc;
  --color-white: #fcfcfc;
}

body {
  background-color: hsl(var(--hue-color), var(--saturation-color), var(--lightness-color));
  color: var(--text-color);
}

h1,
h2 {
  color: var(--text-color);
  opacity: 1;
}

a {
  color: yellow;
}

a.icon {
  fill: yellow;
  opacity: 0.9;
}

p,
.tag {
  color: var(--text-color);
  opacity: 0.95;
}

hr {
  color: var(--text-color);
  opacity: 0.7;
}

/* ============== SLIDER ============== */
#slider-group {
  padding: 1.2em;
  --bg-color: hsl(var(--hue-color), 20%, 20%);
  background-color: var(--bg-color);
}

.slider {
  display: flex;
}
.slider * {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.slider input[type=range] {
  flex-grow: 1;
  margin: 0 1em;
  --track-height: 0.15em;
  --thumb-height: 1.375em;
  --thumb-width: 0.5em;
  --thumb-color: #3399ff;
  --hover-color: #00ffff;
  /* remove default styles */
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
  /* === Track Styles === */
  /* === Thumb Styles === */
  /* === Focus Styles === */
  cursor: pointer;
}
.slider input[type=range]::-webkit-slider-runnable-track {
  background: var(--thumb-color);
  height: var(--track-height);
}
.slider input[type=range]::-moz-range-track {
  background: var(--thumb-color);
  height: var(--track-height);
}
.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--thumb-width);
  height: var(--thumb-height);
  background-color: var(--thumb-color);
  margin-top: calc(var(--track-height) / 2 - var(--thumb-height) / 2);
  border-radius: var(--thumb-height);
  border: none;
}
.slider input[type=range]::-moz-range-thumb {
  appearance: none;
  width: var(--thumb-width);
  height: var(--thumb-height);
  background-color: var(--thumb-color);
  margin-top: calc(var(--track-height) / 2 - var(--thumb-height) / 2);
  border-radius: var(--thumb-height);
  border: none;
}
.slider input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 16px rgba(0, 0, 0, 0.1);
  cursor: grab;
}
.slider input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 16px rgba(0, 0, 0, 0.3);
  cursor: grabbing;
}
.slider input[type=range]:hover::-moz-range-thumb {
  box-shadow: 0px 0px 0px 16px rgba(0, 0, 0, 0.1);
  cursor: grab;
}
.slider input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0px 0px 0px 16px rgba(0, 0, 0, 0.3);
  cursor: grabbing;
}
.slider p {
  color: var(--color-white);
  margin: 0;
}
.slider p:not(:first-child) {
  width: 3ch;
}

/* ============== ICONS ============== */
/* work items icons */
.icon svg {
  width: clamp(2rem, 1.6667rem + 1.6667vw, 3rem);
  height: clamp(2rem, 1.6667rem + 1.6667vw, 3rem);
}

/* footer icons */
a.icon {
  display: inline-block;
  font-size: clamp(2rem, 1.6667rem + 1.6667vw, 3rem);
  color: yellow;
}
a.icon i {
  transition: all 0.3s ease-in-out;
}
a.icon i:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 16px rgba(0, 0, 0, 0.1);
}
a.icon i:active {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 16px rgba(0, 0, 0, 0.3);
}

/*******************************
* Color Shift
*******************************/
.project-frame {
  border-radius: 0.5em;
  width: 80%;
}
.project-frame .desc-hint {
  text-align: right;
  font-size: 0.9em;
  opacity: 0.6;
  color: var(--color-white);
}

/*******************************
* Background picture
*******************************/
.hero {
  position: relative;
}

#background-img {
  left: 0;
  width: 30%;
  opacity: 0.3; /* Adjust transparency as needed */
}
#background-img img {
  display: block;
  float: right;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
