/*******************************
* Reset
*******************************/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,600;1,300&family=Romanesco&family=Rosarivo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  text-indent: 0;
  list-style-type: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

:root {
  --hue-color: 273;
  --saturation-color: 99%;
  --lightness-color: 52%;
  --text-color: #fcfcfc;
  --color-white: #fcfcfc;
}

body {
  background-color: hsl(var(--hue-color), var(--saturation-color), var(--lightness-color));
  color: var(--text-color);
}

h1,
h2 {
  color: var(--text-color);
  opacity: 1;
}

a {
  color: yellow;
}

p {
  color: var(--text-color);
  opacity: 0.95;
}

.icon,
svg {
  fill: var(--text-color);
  opacity: 0.9;
}

hr {
  color: var(--text-color);
  opacity: 0.7;
}

#slider-group {
  background-color: hsl(var(--hue-color), 20%, 20%);
}

.slider input[type=range] {
  background-color: var(--color-white);
}
.slider input[type=range]::-webkit-slider-thumb {
  color: blue;
  background-color: var(--color-white);
  border: 2px solid var(--color-white);
}
.slider input[type=range]::-webkit-slider-thumb:hover {
  background-color: hsl(var(--hue-color), var(--saturation-color), var(--lightness-color));
}
.slider p {
  color: var(--color-white);
  opacity: 0.9;
}

/*******************************
* Breakpoints
*******************************/
/*******************************
* Spacing Scales
*******************************/
:root {
  --space-xs: clamp(0.5 * 1rem, 3.5vw, 0.5 * 3rem);
  --space-s: clamp(1 * 1rem, 3.5vw, 1 * 3rem);
  --space-m: clamp(1.5 * 1rem, 3.5vw, 1.5 * 3rem);
  --space-l: clamp(2 * 1rem, 3.5vw, 2 * 3rem);
  --space-xl: clamp(3 * 1rem, 3.5vw, 3 * 3rem);
  --space-xxl: clamp(5 * 1rem, 3.5vw, 5 * 3rem);
}

/*******************************
* General Styles
*******************************/
body {
  min-height: 100vh;
}

.container {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
}

header {
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}
header nav ul li {
  display: inline-block;
  margin-left: var(--space-xs);
}

.full-height {
  height: 100vh;
}

.hidden {
  display: none !important;
}

@font-face {
  font-family: "Metropolis";
  font-style: bolder;
  font-weight: 900;
  src: url(../src/fonts/Metropolis-Black.otf) format("otf");
}
@font-face {
  font-family: "Metropolis";
  font-style: bold;
  font-weight: 700;
  src: url(../src/fonts/Metropolis-Bold.otf) format("otf");
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  src: url(../src/fonts/Metropolis-Regular.otf) format("otf");
}
body {
  font-family: "Metropolis", "Helvetica", sans-serif;
  line-height: 1.7;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-size: clamp(3.125rem, 2.0709rem + 5.2703vi, 8rem);
  line-height: 1.1;
  letter-spacing: -0.03em;
  font-style: bold;
}

h2 {
  font-size: 2rem;
  line-height: 1;
}

h3 {
  font-size: 1.2rem;
  line-height: 1;
}

p {
  font-size: clamp(1rem, 0.8919rem + 0.5405vi, 1.5rem); /* 1rem-1.5rem */
  line-height: 1.8;
}

ul {
  font-size: 1rem;
  line-height: 1.6;
}

small {
  font-size: 0.8rem;
}

p + p {
  margin-top: 1rem;
}

h1 + p {
  margin-top: 3rem;
}

/*******************************
* Breakpoints
*******************************/
/*******************************
* Spacing Scales
*******************************/
:root {
  --space-xs: clamp(0.5 * 1rem, 3.5vw, 0.5 * 3rem);
  --space-s: clamp(1 * 1rem, 3.5vw, 1 * 3rem);
  --space-m: clamp(1.5 * 1rem, 3.5vw, 1.5 * 3rem);
  --space-l: clamp(2 * 1rem, 3.5vw, 2 * 3rem);
  --space-xl: clamp(3 * 1rem, 3.5vw, 3 * 3rem);
  --space-xxl: clamp(5 * 1rem, 3.5vw, 5 * 3rem);
}

@keyframes arcAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* debug */
* {
  border: 1px dotted blue;
}

/*******************************
* Header and navigation
*******************************/
#brand {
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.03em;
}

#wrap-social {
  position: fixed;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-xs);
  text-align: center;
}

#wrap-social li {
  margin-bottom: 1rem;
  text-transform: uppercase;
  writing-mode: vertical-lr; /* Vertical text */
  text-orientation: mixed; /*Rotate text correctly */
  transform: rotateZ(180deg);
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}

/* Hover underline animations */
a:hover {
  color: var(--dynamic-color-darker);
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--dynamic-color-darker);
  visibility: hidden;
  transition: transform 0.25s ease-out;
  /* horizontal */
  width: 100%;
  height: 0.05em;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.vertical a::before {
  width: 0.05em;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top right;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.vertical > a:hover::before {
  transform: scaleY(1);
}

/*******************************
* Structure
*******************************/
section {
  width: 100%;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
section.hero {
  padding-top: 0;
  padding-bottom: 25vw;
}
@media (min-width: 768px) {
  section {
    padding-left: 20%;
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
  }
  section.hero {
    padding-bottom: var(--space-l);
  }
  section#footer {
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}
.flex > :not(:last-child) {
  width: 100%;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    gap: var(--space-l);
  }
  .flex > :not(:last-child) {
    width: var(--space-l);
  }
}
.flex:not(:last-child) {
  margin-bottom: var(--space-l);
}
.flex + .flex {
  margin-top: var(--space-xl);
}

hr {
  height: 1px;
}

#footer svg {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.project-item {
  margin-top: 2rem;
}

/*******************************
* Color Shift
*******************************/
#slider-group {
  padding: 1em;
  border-radius: 0.5em;
  width: 80%;
}

.slider {
  position: relative;
  display: flex;
}
.slider * {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.slider input[type=range] {
  flex-grow: 1;
  margin: 0 1em;
  -webkit-appearance: none !important;
  position: relative;
  top: 1.5em;
  height: 0.1em;
  border: none;
  outline: none;
}
.slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 12px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.slider p:not(:first-child) {
  width: 3ch;
}

/*# sourceMappingURL=style.css.map */
