:root {
  --hue-color: 273;
  --saturation-color: 99%;
  --lightness-color: 52%;
  --text-color: #fcfcfc;
  --color-white: #fcfcfc;
}

$brand-color: hsl(
  var(--hue-color),
  var(--saturation-color),
  var(--lightness-color)
);

$color-shadow-hover: rgba(
  $color: black,
  $alpha: 0.1,
);
$color-shadow-focus: rgba(
  $color: black,
  $alpha: 0.3,
);
$color-shadow-pressed: rgba(
  $color: black,
  $alpha: 0.5,
);

body {
  background-color: $brand-color;
  color: var(--text-color); // Default text color
}

h1,
h2 {
  color: var(--text-color);
  opacity: 1;
}

a {
  color: yellow;
}

p,
.tag {
  color: var(--text-color);
  opacity: 0.95;
}

.icon,
svg,
.bx {
  color: var(--text-color);
  fill: var(--text-color);
  opacity: 0.9;
}
hr {
  color: var(--text-color);
  opacity: 0.7;
}
#colorshift p,
#arrow {
  color: yellow;
  fill: yellow;
}
