@use "spacing" as *;

$gap: 20vw;
@include md {
  $gap: 8vw;
}

/*******************************
* General Styles
*******************************/
body {
  min-height: 100vh;
}
.container {
  padding-left: $space-m;
  padding-right: $space-m;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
}

header {
  width: 100%;
  nav {
    display: flex;
    justify-content: space-between;
    padding-top: $space-m;
    padding-bottom: $space-m;
  }
  nav ul li {
    display: inline-block;
    margin-left: var(--space-xs);
  }
}
.full-height {
  height: 100vh;
}


