/*******************************
* Breakpoints
*******************************/

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1600px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}
@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}
@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}
@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}
@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: map-get($breakpoints, "xxl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (max-width: $bp) {
    @content;
  }
}

/*******************************
* Spacing Scales
*******************************/

// $spacing-scales: (
//   "xs": 0.5,
//   "s": 1,
//   "m": 1.5,
//   "l": 2,
//   "xl": 3,
//   "xxl": 5,
// );

$spacing-scales: (
  "xs": 1,
  "s": 1.25,
  "m": 2,
  "l": 4,
  "xl": 8,
  "xxl": 12,
);

:root {
  @each $level, $value in $spacing-scales {
    --space-#{$level}: calc(
      clamp(
        #{$value} * 1rem,
        #{$value} * 1rem + #{$value} * 0.25vw,
        #{$value} * 1.4rem
      )
    );
  }
}
// 1.25rem-3.5rem
$space-m: clamp(1.45rem, 2.2162vw + 1.0068rem, 3.5rem);
// 9.375rem-6.25rem
// $space-xl: clamp(6.25rem, 10.4rem + -5.4348vi, 9.375rem);
$space-l: 8vw;
$space-xl: 15vw;
