/*******************************
* Breakpoints
*******************************/

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1600px,
);

@mixin xs {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}
@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}
@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}
@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}
@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: map-get($breakpoints, "xxl")) {
    @content;
  }
}

@mixin breakpoint($bp: 0) {
  @media (max-width: $bp) {
    @content;
  }
}

/*******************************
* Spacing Scales
*******************************/

// 8px - 24px
$space-xs: clamp(0.8rem, 0.1667rem + 1.6667vw, 1.5rem);
// 16px - 48px
$space-s: clamp(1rem, 0.3333rem + 3.3333vw, 3rem);
// 32px - 96px
$space-m: clamp(2rem, 0.6667rem + 6.6667vw, 6rem);
// 48px - 144px
$space-l: clamp(3rem, 1rem + 10vw, 9rem);
// 64px - 192px
$space-xl: clamp(4rem, 1.3333rem + 13.3333vw, 12rem);
// 80px - 240px
$space-xxl: clamp(5rem, 1.6667rem + 16.6667vw, 15rem);
