@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Metropolis";
  font-style: bolder;
  font-weight: 900;
  src: url(../src/fonts/Metropolis-Black.otf) format("otf");
}
@font-face {
  font-family: "Metropolis";
  font-style: bold;
  font-weight: 700;
  src: url(../src/fonts/Metropolis-Bold.otf) format("otf");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  src: url(../src/fonts/Metropolis-Regular.otf) format("otf");
}

body {
  font-family: "Metropolis", "Helvetica", sans-serif;
  line-height: 1.7;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
header {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

#brand {
  font-size: calc(1rem + 1vw);
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.03em;
}
h1 {
  font-size: clamp(2.5rem, 1.3333rem + 5.8333vw, 6rem);
  line-height: 1.1;
  letter-spacing: -0.03em;
  font-style: bold;
}

h2,
summary {
  font-family: "Inter Tight", sans-serif;
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2rem);
  line-height: 1.4;
  font-weight: 300;
  text-wrap: balance;
}

h3 {
  font-size: clamp(1rem, 0.9167rem + 0.4167vw, 1.25rem);
  line-height: inherit;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  font-size: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem); /* 16px-18px */
  line-height: 1.8;
  text-wrap: balance;
  max-width: 80ch;
}
ul {
  font-size: 1rem;
  line-height: 1.6;
}
small {
  font-size: 0.8rem;
}

.tag {
  font-family: "Inter Tight", sans-serif;
  font-size: clamp(0.75rem, 0.6667rem + 0.4167vw, 1rem);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

a:not(.icon) {
  text-decoration: underline;
}
summary > em {
  font-weight: 100;
  font-size: 70%;
  font-style: normal;
}

#colorshift p {
  font-family: "Inter Tight", sans-serif;
  text-transform: uppercase;
}
