@import "reset";
@import "color";
@import "layout";
@import "typography";
@import "spacing";
@import "animation";

// /* debug */
// * {
//   border: 1px dotted blue;
// }

/*******************************
* Header and navigation
*******************************/

#wrap-social {
  position: fixed;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $space-xs;
  text-align: center;
}

#wrap-social li {
  margin-bottom: 1rem;
  text-transform: uppercase;

  writing-mode: vertical-lr; /* Vertical text */
  text-orientation: mixed; /*Rotate text correctly */
  transform: rotateZ(180deg);
}
a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  position: relative;

  cursor: pointer;
}

/* Hover underline animations */
a:hover {
  color: var(--dynamic-color-darker);
}
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--dynamic-color-darker);
  visibility: hidden;
  transition: transform 0.25s ease-out;

  /* horizontal */
  width: 100%;
  height: 0.05em;
  transform: scaleX(0);
  transform-origin: bottom left;
}
.vertical a::before {
  width: 0.05em;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top right;
}
a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.vertical > a:hover::before {
  transform: scaleY(1);
}

/*******************************
* Structure
*******************************/

section {
  width: 100%;
  padding-top: $space-l;
  padding-bottom: $space-l;

  @include md {
    padding-left: 20%;
  }
  &#footer {
    padding-bottom: $space-s;
  }
}
footer {
  padding-bottom: $space-s;
  @include md {
    padding-left: 20%;
  }
}

h2:first-child {
  margin-bottom: $space-m;
}

h1 + h2 {
  margin-top: $space-s;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: $space-m;

  > :not(:last-child) {
    width: 100%;
    flex-shrink: 0;
  }

  @include md {
    flex-direction: row;
    > :not(:last-child) {
      width: 10ch;
    }
    > :first-child {
      width: $space-l;
    }
  }

  &:not(:last-child) {
    margin-bottom: $space-l;
  }

  + .flex {
    margin-top: $space-xl;
  }
}

hr {
  height: 1px;
  position: relative;
  top: 0.8rem;
}

#footer svg {
  display: inline-block;
  width: 60px;
  height: 60px;
}

/*******************************
* Color Shift
*******************************/
#slider-group {
  padding: 1em;
  border-radius: 0.5em;
  width: 80%;
}

.slider {
  position: relative;
  display: flex;
  * {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  input[type="range"] {
    flex-grow: 1;
    margin: 0 1em;
    -webkit-appearance: none !important;
    position: relative;
    top: 1.5em;
    height: 0.1em;
    border: none;
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 12px;
    height: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  p:not(:first-child) {
    width: 3ch;
  }
}

.tag {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.5em;
  border-radius: 4px;

  &:first-child {
    margin-left: 0;
  }
}
