@import "reset";
@import "color";
@import "layout";
@import "typography";
@import "spacing";
@import "animation";
@import "components";

/*******************************
* Header and navigation
*******************************/

#wrap-social {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $space-xs;
  text-align: center;
}

#wrap-social li {
  margin-bottom: 2em;
  text-transform: uppercase;

  writing-mode: vertical-lr; /* Vertical text */
  text-orientation: mixed; /*Rotate text correctly */
  transform: rotateZ(180deg);
}
nav a,
#wrap-social a {
  text-decoration: none !important;
  transition: all 1s ease-in-out;
  &:hover {
    text-decoration: overline !important;
  }
}

/*******************************
* Structure
*******************************/

section {
  width: 100%;
  padding-top: $space-l;
  padding-bottom: $space-l;

  @include md {
    padding-left: 20%;
  }
  &#footer {
    padding-bottom: $space-s;
  }
}
footer {
  padding-bottom: $space-s;
  @include md {
    padding-left: 20%;
  }
}

h2:first-child {
  margin-bottom: $space-m;
}

h1 + h2 {
  margin-top: $space-s;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: $space-m;

  > :not(:last-child) {
    width: 100%;
    flex-shrink: 0;
  }

  @include md {
    flex-direction: row;
    > :not(:last-child) {
      width: 10ch;
    }
    > :first-child {
      width: $space-l;
    }
  }

  &:not(:first-child) {
    margin-top: $space-l;
  }
  &:not(:last-child) {
    margin-bottom: $space-l;
  }
}

hr {
  height: 1px;
  position: relative;
  top: 0.8rem;
}

/* footer icons */
footer a {
  margin-right: 1.5rem;
  transition: all 0.3s ease-in-out;

  i:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 16px $color-shadow-hover;
  }
  i:active {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 16px $color-shadow-focus;
  }
}

/*******************************
* Color Shift
*******************************/
.project-frame {
  border-radius: 0.5em;
  width: 80%;

  .desc-hint {
    text-align: right;
    font-size: 0.9em;
    opacity: 0.6;
    color: var(--color-white);
  }
}
