@import "reset";
@import "color";
@import "layout";
@import "typography";
@import "spacing";
@import "animation";
@import "components";

/*******************************
* Color Shift
*******************************/
.project-frame {
  border-radius: 0.5em;
  width: 80%;

  .desc-hint {
    text-align: right;
    font-size: 0.9em;
    opacity: 0.6;
    color: var(--color-white);
  }
}
