@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,600;1,300&family=Romanesco&family=Rosarivo:ital@0;1&display=swap");

:root {
  --primary-color-light: #fafafa;
  --secondary-color-light: #e1ff57;
  --text-primary-light: #373f49;
  --text-secondary-light: #7f8288;
  --text-display-size: 6rem;
  --text-navigation-size: 0.65rem;
  --text-title-size: 4rem;
  --text-paragraph-size: 1rem;

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.414,4,1,&s=0.75,1.5|2|3|4|6,&g=s,l,xl,12 */

  --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vi, 0.875rem);
  --space-s: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  --space-m: clamp(1.5rem, 1.4348rem + 0.3261vi, 1.6875rem);
  --space-l: clamp(2rem, 1.913rem + 0.4348vi, 2.25rem);
  --space-xl: clamp(3rem, 2.8696rem + 0.6522vi, 3.375rem);
  --space-2xl: clamp(4rem, 3.8261rem + 0.8696vi, 4.5rem);
  --space-3xl: clamp(6rem, 5.7391rem + 1.3043vi, 6.75rem);

  /* One-up pairs */
  --space-xs-s: clamp(0.75rem, 0.6196rem + 0.6522vi, 1.125rem);
  --space-s-m: clamp(1rem, 0.7609rem + 1.1957vi, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.2391rem + 1.3043vi, 2.25rem);
  --space-l-xl: clamp(2rem, 1.5217rem + 2.3913vi, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vi, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3.0435rem + 4.7826vi, 6.75rem);

  /* @link https://utopia.fyi/type/calculator?c=320,15,1.2,1240,17,1.414,4,1,&s=0.75,1.5|2|3|4|6,&g=s,l,xl,12 */

  /* Step -1: 12.5px → 12.0226px */
  --typo--1: clamp(0.7514rem, 0.7916rem + -0.0519vi, 0.7813rem);
  /* Step 0: 15px → 17px */
  --typo-0: clamp(0.9375rem, 0.894rem + 0.2174vi, 1.0625rem);
  /* Step 1: 18px → 24.038px */
  --typo-1: clamp(1.125rem, 0.9937rem + 0.6563vi, 1.5024rem);
  /* Step 2: 21.6px → 33.9897px */
  --typo-2: clamp(1.35rem, 1.0807rem + 1.3467vi, 2.1244rem);
  /* Step 3: 25.92px → 48.0615px */
  --typo-3: clamp(1.62rem, 1.1387rem + 2.4067vi, 3.0038rem);
  /* Step 4: 31.104px → 67.9589px */
  --typo-4: clamp(1.944rem, 1.1428rem + 4.006vi, 4.2474rem);
}
/* debug
* {
  border: 1px dotted blue;
} */

/*******************************
* Reset
*******************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
li {
  text-indent: 0;
  list-style-type: 0;
  text-decoration: none;
}
a {
  text-decoration: none;
}

/*******************************
* General Styles
*******************************/

h1,
h2 {
  margin-block-start: var(--space-m-l);
}
h1 {
  font-size: var(--typo-3);
}
h2 {
  font-size: var(--typo-2);
}
h3 {
  font-size: var(--typo-1);
}
p,
ul {
  font-size: var(--typo-0);
}
small {
  font-size: var(--typo--1);
}

/* The Body */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  /* background: linear-gradient(
    to top,
    #ffffff,
    #c9cacc
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Inter Tight", sans-serif;
  line-height: 1.5;
}

main {
  box-sizing: border-box;
  position: relative;
  margin: 0 var(--space-xs-s);
  z-index: 500;
}
main p,
main ul {
  margin-block-start: var(--space-xs-s);
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}

section {
  min-height: 100vh;
  max-width: 850px;
  width: 100%;
  margin: auto;
  padding: var(--space-l-xl) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*******************************
* Header and navigation
*******************************/

header p,
header ul {
  font-size: var(--typo--1);
  color: var(--text-secondary-light);
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
nav *:not(ul, a) {
  padding: var(--space-xs);
}
nav ul li {
  display: inline-block;
}
#brand {
  color: var(--text-primary-light);
  font-weight: bold;
}

#social-media {
  position: fixed;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-xs);
  text-align: center;
  z-index: 999;
}

#social-media li {
  margin-bottom: 1rem;
  text-transform: uppercase;

  writing-mode: vertical-lr; /* Vertical text */
  text-orientation: mixed; /*Rotate text correctly */
  transform: rotateZ(180deg);
}
a {
  text-decoration: none;
  color: var(--text-secondary-light);
  transition: color 0.3s ease-in-out;
  position: relative;

  cursor: pointer;
}

/* Hover underline animations */
a:hover {
  color: var(--text-primary-light);
}
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--text-primary-light);
  visibility: hidden;
  transition: transform 0.25s ease-out;

  /* horizontal */
  width: 100%;
  height: 0.05em;
  transform: scaleX(0);
  transform-origin: bottom left;
}
.vertical a::before {
  width: 0.05em;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top right;
}
a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.vertical > a:hover::before {
  transform: scaleY(1);
}

/* Hero */

#welcome {
  text-align: left;
}
#welcome > * {
  font-size: var(--typo-4);
  line-height: 1;
  letter-spacing: -0.06em;
}
#hello-text-1 {
  font-family: "Romanesco", cursive;
}
#hello-text-2 {
  font-family: "Inter Tight", sans-serif;
  font-weight: bold;
}
#hello-text-3 {
  font-family: "Rosarivo", cursive;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
}

#roles-text {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.6;
}

.cursor {
  display: inline-block;
  vertical-align: middle;
  width: calc(var(--typo-4) / 7);
  height: var(--typo-4);
  background: radial-gradient(
    circle at 10% 20%,
    rgb(249, 57, 170) 9.8%,
    rgb(134, 176, 255) 94.9%
  );
  margin-left: 0.1em;
}

/* About */
.row-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.row-container > * {
  flex: 1 1 300px;
}
#about .row-container > *:nth-child(2) {
  text-align: right;
}
#avatar {
  width: 300px;
  height: auto;
  border-radius: 1rem;
  transform: rotateZ(5deg);
}
